/* layout */
/* jquery dialog title 非表示 */
.noTitle .ui-dialog-titlebar{
  display :none;
}

#createUser{
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.btn-right{
   text-align: right;
}

