<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap_flatly.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/simple-sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="css/loader.css">

    <script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery-ui.js"></script>
    
    <script type="text/javascript" src="js/lib/jquery/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery.validationEngine-ja.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!--
      <script type="text/javascript" src="js/lib/socket.io.js"></script>
    -->
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <input type="hidden" id="user_id" value="">
    <input type="hidden" id="group_id" value="">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">simple chat</a>
        </div>
      </div>
    </div>

    <div class="page-header">
    </div>

    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ui id="groupListItems" class="sidebar-nav">
          <li id="user_name" class="sidebar-brand">
            
          </li>
        </ui>
      </div>

      <!-- input items -->
      <div class="container">
        <div class="well bs-component">
          <div id="chat">
            <div id="chatlist">

            </div>
            <div class="col-lg-6">
              <div class="well bs-component">
                <div class="form-horizontal">
                  <div class="form-group chat-area">
                    <textarea class="form-control" id="chatText"></textarea>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-default" type="button" id="send" value="送信" />
                  </div>
                </div>
              </div>
            </div>

            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- loading -->
    <div id="loader" style="display:none;">  
    </div>
    <div id="loader_animation"style="display:none;">
    </div>
  </body>
</html>