<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="css/lib/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap_flatly.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <link rel="stylesheet" type="text/css" href="css/loader.css">
    
    <script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery.validationEngine-ja.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Bootswatch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Cerulean</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../cyborg/">Cyborg</a></li>
                <li><a href="../darkly/">Darkly</a></li>
                <li><a href="../flatly/">Flatly</a></li>
                <li><a href="../journal/">Journal</a></li>
                <li><a href="../lumen/">Lumen</a></li>
                <li><a href="../paper/">Paper</a></li>
                <li><a href="../readable/">Readable</a></li>
                <li><a href="../sandstone/">Sandstone</a></li>
                <li><a href="../simplex/">Simplex</a></li>
                <li><a href="../slate/">Slate</a></li>
                <li><a href="../spacelab/">Spacelab</a></li>
                <li><a href="../superhero/">Superhero</a></li>
                <li><a href="../united/">United</a></li>
                <li><a href="../yeti/">Yeti</a></li>
              </ul>
            </li>
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Flatly <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/jmg3gykg/">Open Sandbox</a></li>
                <li class="divider"></li>
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
                <li class="divider"></li>
                <li><a href="./_variables.scss">_variables.scss</a></li>
                <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="page-header">
    </div>

    <!-- input items -->
    <div id="logindiv" class="container">
      <div class="well bs-component">

        <form id="loginform" class="form-horizontal">

          <legend>Login</legend>

          <div class="form-group">
            <label for="email" class="col-lg-2 control-label">
              Email
            </label>
            <div class="col-lg-10">
              <input type="email" id="email" class="form-control input validate[required, custom[email]]" data-prompt-position="topLeft"/>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-lg-2 control-label">
              Password
            </label>
            <div class="col-lg-10">
              <input type="password" id="password" class="form-control input validate[required]" data-prompt-position="topLeft"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <a href="#" class="btn btn-primary" id="login">Login</a>
            </div>
          </div>

        </form>

      </div>
    </div>

    <div id="creatediv" class="container" style="display:none;">
      <div class="well bs-component">
        <form id="createform" class="form-horizontal">
          <legend>Add account</legend>

          <div class="form-group">
            <label for="cre_email" class="col-lg-2 control-label">
              Email
            </label>
            <div class="col-lg-10">
              <input type="email" id="cre_email" class="form-control input validate[required, custom[email]]" data-prompt-position="topLeft"/>
            </div>
          </div>

          <div class="form-group">
            <label for="cre_name" class="col-lg-2 control-label">
              Name
            </label>
            <div class="col-lg-10">
              <input type="text" id="cre_name" class="form-control input validate[required]" data-prompt-position="topLeft"/>
            </div>
          </div>
          
          <div class="form-group">
            <label for="cre_name" class="col-lg-2 control-label">
              Password
            </label>
            <div class="col-lg-10">
              <input type="password" id="cre_password" class="form-control input validate[required]" data-prompt-position="topLeft"/>
            </div>
          </div>

          <div class="form-group">
            <label for="cre_name" class="col-lg-2 control-label">
              <nobr>Password（Re-Enter）</nobr>
            </label>
            <div class="col-lg-10">
              <input type="password" id="re_password" class="form-control input validate[required, equals[cre_password]]" data-prompt-position="topLeft"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <input type="reset"  class="btn btn-default" id="cancel" value="Cancel" />
              <input type="button" class="btn btn-primary" id="create" value="Add" />
            </div>
          </div>

        </form>
      </div>
    </div>

    <!-- message dialog -->
    <div id="messageDialog">
      <h4>
        <span class="label message text-primary">
      </h4>
      </span>
    </div>

    <!-- loading -->
    <div id="loader" style="display:none;">  
    </div>
    <div id="loader_animation"style="display:none;">
      loading...
    </div>
    
  </body>
</html>