<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="css/lib/jquery/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="css/lib/jquery/validationEngine.jquery.css">
  <!--<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.css"/>-->
  <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-flatly.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="stylesheet" type="text/css" href="css/loader.css">

  <script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
  <script type="text/javascript" src="js/lib/jquery/jquery-ui.js"></script>
  <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/lib/socket.io.js"></script>

  <script type="text/javascript" src="js/lib/jquery/jquery.validationEngine.js"></script>
  <script type="text/javascript" src="js/lib/jquery/jquery.validationEngine-ja.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">SimpleChat</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" id="createAccount" class="nav-action">AddAcount</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-header">
  </div>

  <!-- input items -->
  <div id="logindiv" class="container">
    <div class="well bs-component">

      <form id="loginform" class="form-horizontal">

        <legend>Login</legend>

        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">
              Email
            </label>
          <div class="col-lg-10">
            <input type="email" id="email" class="form-control input validate[required, custom[email]]" data-prompt-position="topLeft">
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-lg-2 control-label">
              Password
            </label>
          <div class="col-lg-10">
            <input type="password" id="password" class="form-control input validate[required]" data-prompt-position="topLeft">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <a href="#" class="btn btn-primary" id="login">Login</a>
          </div>
        </div>

      </form>

    </div>
  </div>

  <div id="creatediv" class="container" style="display:none;">
<div class="well bs-component">
  <form id="createform" class="form-horizontal">
    <legend>Add account</legend>

    <div class="form-group">
      <label for="cre_email" class="col-lg-2 control-label">
              Email
            </label>
      <div class="col-lg-10">
        <input type="email" id="cre_email" class="form-control input validate[required, custom[email]]" data-prompt-position="topLeft">
      </div>
    </div>

    <div class="form-group">
      <label for="cre_name" class="col-lg-2 control-label">
              Name
            </label>
      <div class="col-lg-10">
        <input type="text" id="cre_name" class="form-control input validate[required]" data-prompt-position="topLeft">
      </div>
    </div>

    <div class="form-group">
      <label for="cre_name" class="col-lg-2 control-label">
              Password
            </label>
      <div class="col-lg-10">
        <input type="password" id="cre_password" class="form-control input validate[required]" data-prompt-position="topLeft">
      </div>
    </div>

    <div class="form-group">
      <label for="cre_name" class="col-lg-2 control-label">
              <nobr>Password（Re-Enter）</nobr>
            </label>
      <div class="col-lg-10">
        <input type="password" id="re_password" class="form-control input validate[required, equals[cre_password]]" data-prompt-position="topLeft">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <input type="reset" class="btn btn-default" id="cancel" value="Cancel">
        <input type="button" class="btn btn-primary" id="create" value="Add">
      </div>
    </div>

  </form>
</div>
</div>

<!-- message dialog -->
<div id="messageDialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <div id='yesnobtn'>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
        <div id='closebtn'>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- loading -->
<div id="loader" style="display:none;">
</div>
<div id="loader_animation" style="display:none;"> loading...
</div>

</body>

</html>